<div welcome></div>
<div style="float:left; width:40%">
    <h1>{{ project.name }}</h1>
    <div>Description: {{ project.description }}</div>
    <div>Created At Exactly: {{ project.created_at }}</div>
    <div>Created By: {{ project.creator.name }}</div>
    <div>Amount of Shit We Gotta Do: {{ project.todolists.remaining_count }} things</div>
    <div>Shit We Done Did: {{ project.todolists.completed_count }} things</div>
    <div><a href="{{ project.todolists.app_url }}">Place To Check All The Shit Out At</a></div>


    <h2>Edit Project</h2>
    <div>Project Name: <input ng-model="projectName" /></div>
    <div>Project Description: <input ng-model="projectDescription" /></div>

    <button ng-click="editProject();">Edit Existing Project</button>

    <h2>Delete This Foo</h2>

    <button type='delete' ng-click="deleteProject();">Finish Him!</button>
</div>



    <h2>Make A Damn Event</h2>

    <div>Event Summary: <input ng-model="eventSummary" /></div>
    <div>Event Description: <input ng-model="eventDescription" /></div>
    <div>Event Starts: <input ng-model="eventStarts" /></div>

    <button type='submit' ng-click="newEvent();">Create New Event</button>

    <h2>Your Damn Events</h2>
     <div ng-repeat="event in calendar track by $index">
        <div>

            <div>Summary: {{ event.summary }}</div>
            <div>Description: {{ event.description }}</div>
            <div>Starts At: {{ event.starts_at }}</div>
        </div>
    </div>
    <h3>Topics</h3>
    <bc-searchbar></bc-searchbar>
<!--    <input ng-model="searchText" /> -->
    <p>Only with attachments: <input type="checkbox" ng-model="attachmentBoolean" /></p>

    <div ng-repeat="topic in topics | filter: searchText | filter: hasAttachment | dateTypeFilter:'2014-11-06' track by $index">

        <div>Topic ID: {{ topic.id }}</div>
        <div>Title: {{ topic.title }}</div>
        <div>Created at: {{ topic.created_at }}</div>
        <div>A Tid Bit For You: {{ topic.excerpt }}</div>
        <button ng-click="linkToSearch();">Copy To Clipboard</button>

        <br>
    </div>

    <br>
    <br>
    <a href="#/home">Go Home</a>
    <br>
    <a href="#/projects/{{ project.id }}/calendar_events/{{ event.id }}">Events</a>
</div>